<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>446723098105-fuu58ahp3ki2p5et4lm7nmok9g36aibm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.446723098105-fuu58ahp3ki2p5et4lm7nmok9g36aibm</string>
	<key>API_KEY</key>
	<string>AIzaSyBP5y-5Q58ldgygjaqE8rAXCTeJKetPGsw</string>
	<key>GCM_SENDER_ID</key>
	<string>446723098105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.colorCode</string>
	<key>PROJECT_ID</key>
	<string>cp-vehicle-color</string>
	<key>STORAGE_BUCKET</key>
	<string>cp-vehicle-color.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:446723098105:ios:346830388934a1c3d9e928</string>
</dict>
</plist>